---
export async function getStaticPaths() {
    const posts = await Astro.glob("./../content/*.{md,mdx}");

    return posts.map((post) => ({
        params: {
            slug: post.file
                .split("/")
                .pop()
                .replace(/\.md(x)?/, ""),
        },
        props: { post },
    }));
}

const { frontmatter, Content } = Astro.props.post;
---

<div class="container max-w-2xl mx-auto">
    <h2 class="text-2xl font-semibold leading-tight">{frontmatter.title}</h2>
    <article>
        {frontmatter.pubDate}
    </article>
</div>
