---
---

<header role="banner">
    <nav role="navigation">
        <div class="container mx-auto px-2 sm:px-6 lg:px-8">
            <div class="relative flex h-16 items-center justify-between">
                <div class="flex space-x-4">
                    <a
                        href="/"
                        class="inline-flex items-center border-b-2 border-transparent p-2 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700"
                        >Home</a
                    >
                    <a
                        href="/cuisine"
                        class="inline-flex items-center border-b-2 border-transparent p-2 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700"
                        >Cuisine</a
                    >
                </div>
            </div>
        </div>
    </nav>
</header>
