<!DOCTYPE html>
<html>

<head>
    {{! Use the formatter.title and formatter.description in the head }}
    <title>{{page.head.title}} | {{site.info.title}}</title>
    {{#if page.head.description}}
    {{! Only render the description if it exists }}
    <meta name="description" content="{{page.head.description}}">
    {{/if}}
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link ref="stylesheet" href="/static/css/site.css">
</head>

<body>
    {{> navbar }}
    <main>